html,body{
  font-family: 'Merriweather', serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

@media (min-width: 320px) {
.grid-container{
  display: grid;
  grid-template-columns: 100px 1fr;
   grid-template-rows: 80px 1fr 90em;
   grid-template-areas:
     " header header"
     "sidenav sidenav"
     "main-set main-set";
}

.header {
  grid-area: header;
  background-color: #7477BF;

}

.App{
  font-size: 15pt;
  color: #fff;
  margin: 25px 5px;
}


.bell{
 margin: -45px 0px 36px 9em;
 width: 20px;
 fill:#fff;
position: relative;
}


.dot[data-notifications]:after {
    content: attr(data-notifications);
    position: absolute;
    background: red;
    border-radius: 50%;
    display: inline-block;
    padding: 0.3em;
    color: #f2f2f2;
    right: -3px;
    top: -4px;
}

.bell:hover{
animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
transform: translate3d(0, 0, 0);
backface-visibility: hidden;
perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


.vl {
  border-left: 1px solid ;
  height: 50px;
  margin: -71px 0px 14px 11em;
}

.avatar {
margin: -77px 0px 20px 12em;
vertical-align: middle;
width: 50px;
height: 50px;
border-radius: 50%;
 }

 .name {
   color: #fff;
   font-size: 10pt;
   margin: -78px 0px 20px 19em;
 }

 .sidenav{
   grid-area: sidenav;
   background: #191970;
   border-spacing: 10px 20px;
 }

 .dash.active, .member:hover, .chart:hover, .setting:hover{
   border-bottom: 6px solid green;

   fill: #fff;

 }


 .dash{
   width: 40px;
   margin: 5px 0px 0px 50px;
   fill: #D3D3D3;
 }

 .member{
   width: 40px;
   margin: 5px 0px 0px 10px;
   fill: #D3D3D3;
 }

 .chart {
   width: 40px;
   margin: 5px 0px 0px 5px;
   fill: #D3D3D3;
 }
.setting {
  width: 40px;
  margin: 4px 0px 0px 0em;
  fill: #D3D3D3;
 }

 .main-header{
   background: linear-gradient(to right, #fff 20%,  #fff 35%, #F8F8F8 20%);
   padding: 20px;
   height: 65px;
 }
.headline {
  margin: -10px 15px 25px -20px;

}
.main-header-search{
  margin: -50px 10px 29px 105px;
}

.traffic {
  border-bottom: 1px solid;
}

.traffic-nav {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    list-style-type: none;
    margin: -38px 76px 45px;
}

.traffic-nav-link.active {
   border-radius: 5px;
   background-color: green;
   color: white;

}

li {
  margin: 0px 8px 0px 5px;
  font-size: 8.5pt;
}


.mobile {
border-top: 1px solid;
}

.alert {
font-size: 12px;
color: #fff;
background-color: #7477BF;
border-radius: 2px;
height: 30px;
margin-left: -1px;
}

.notice {
  left: 5px;
  top: 5px;
  position: relative;
}

.alert-close {
  right: -23em;
  top: -23px;
  position: relative;
}

.bird {
 width: 20px;
 margin: 12px;
}

.twitter-container {
    border: 1px solid;
    width: 300px;
    height: 100px;
    background: #F8F8F8;
    margin-left: 8px;
}

.twitter-image {
background-color: #7477BF;
margin: 25px 10px;
vertical-align: middle;
width: 40px;
height: 40px;
border-radius: 50%;
}
.twitter-text{
  margin: -60px 60px;
}
.twitter{
  color: #7477BF;
}

.Tnumber{
  margin: -15px 5px;
  font-size: 20pt;
}


.facebook-container {
    border: 1px solid;
    margin: 15px -1px;
    width: 300px;
    height: 100px;
    margin-left: 9px;
    background: #F8F8F8;
}

.F-symbol{
  width: 20px;
  margin: -10px 10px;
}

.facebook-image{
  background-color: #7477BF;
  margin: 25px 10px;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.facebook-text{
  margin: -60px 60px;
}


.Fnumber{
  margin: -15px 5px;
  font-size: 20pt;
}

.facebook{
  color: #7477BF;
}


.google-container {
    border: 1px solid;
    margin: 15px -1px;
    width: 300px;
    height: 100px;
    margin-left: 10px;
    background: #F8F8F8;
}

.G-symbol{
  width: 20px;
  margin: -15px 10px;
}

.google-image{
  background-color: #7477BF;
  margin: 25px 10px;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.google-text{
  margin: -60px 60px;
}


.Gnumber{
  margin: -15px 5px;
  font-size: 20pt;
}

.google{
  color: #7477BF;
}

.profile-image {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.B-border {
  border-bottom: 1px solid;
}


.form-field {
    margin: 25px 0px;
    height: 35px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #F8F8F8;
}

.form-area {
    margin: -5px 0px;
    width: 100%;
    height: 100px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #F8F8F8;
}


.button-primary {
    display: block;
    margin: 25px 0px;
    width: 100%;
    height: 45px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #7477BF;
    color: #fff;
}


.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgray;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #7477BF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}


.slider:after
{
 content:'OFF';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{
  content:'ON';
}

.form {
    margin: 35px 4px;
}




.button-disabled {
    margin: 5px 0px;
    width: 100%;
    height: 45px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: gray;
    color: #fff;
}

.header {
  grid-area: header;
}


.main-set{
  grid-area: main-set;
 }
}

@media (min-width: 768px) {
  .grid-container{
    display: grid;
    grid-template-columns: 70px 1fr;
     grid-template-rows: 80px 1fr 90em;
     grid-template-areas:
       " header header"
       "sidenav main-set"
       "sidenav main-set";
  }

  .main-header{
   background: linear-gradient(to right, #fff 15%,  #F8F8F8 15%);
    padding: 20px;
    height: 65px;
  }


  .name {
      color: #fff;
      font-size: 10pt;
      margin: -78px 0px 20px 50em;
  }

  .avatar {
      margin: -77px 0px 20px 38em;
      vertical-align: middle;
      width: 50px;
      height: 50px;
      border-radius: 50%;
  }
  .vl {
      border-left: 1px solid;
      height: 50px;
      margin: -100px 0px 14px 37em;
  }




  .bell {
    margin: -45px 0px 65px 35em;
    width: 20px;
    fill: #fff;

}
.main-header-search {
    margin: -50px 10px 29px 30em;
}
  .header {
    grid-area: header;
  }


  .main-set{
    grid-area: main-set;
  }

  .dash.active, .member:hover, .chart:hover, .setting:hover{
    border-left: 6px solid green;
    border-bottom: none;
    fill: #fff;

  }

  .dash {
      width: 60px;
      margin: 5px 0px 0px -1px;
      padding: 0px 0px 0px 15px;
      fill: #D3D3D3;
  }




  .member {
      width: 60px;
      margin: 35px 0px 0px -1px;
      padding: 0px 0px 0px 15px;
      fill: #D3D3D3;
  }


  .chart {
    width: 60px;
    margin: 35px 0px 0px 2px;
    padding: 0px 0px 0px 15px;
    fill: #D3D3D3;
}


  .setting {
    width: 60px;
    margin: 35px 0px 0px 2px;
    padding: 0px 0px 0px 15px;
    fill: #D3D3D3;
  }


.widget-container-full {
     width: 90vw;

  }

.widget-container-half {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     width: 45vw;

  }


.traffic-wording {
  margin-left: 5px;
}

.traffic-nav {
    display: flex;
    margin: -65px 8px 0px 40em;
    padding: 25px;
    font-size: 8.5pt;
}

.alert {
    font-size: 12px;
    color: #fff;
    background-color: #7477BF;
    border-radius: 2px;
    height: 30px;
    width: 57em;
    margin-left: 2px;
}

.alert-close {
    right: -55em;
    top: -23px;
    position: relative;
}

.daily {
    border-bottom: none;
  }

  .mobile {
     border-top: none;
     margin: -50px 0px 0px 25px

   }

#mobile-chart {
  margin: -5px 0px 0px -78px

}


.mobile-border {
      border-left: 1px solid;
      margin: -61px 2px -1px 25px;
  }
.B-border {
  display: none;
}
.member-line {
    margin: 30px 24em 25px -3px;
}
 .message-border {
 border-bottom: 1px solid;
}
.comment {
    margin: 33px 247px 24px -2em;
}

 .memebers, .activity {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  margin-right: 65px;

 }

 .post {
    margin: -48em 0px 0px -157px;
    grid-column: 4;
}

 .recent {
     grid-column: 4 / span 1;
     margin: -51em -270px 0px -142px;
 }

  .social-border {
    border-top: 1px solid;
  }

  .member-border {
      border-left: 1px solid;
      margin: -57.5em -56px -36em 23em;
  }

.social-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
}

.twitter-container {
  margin: 0px 0px 0px 2px;
}


.facebook-container {
  margin: -6.3rem 0px 0px 20rem;
}
.google-container {
  margin-left: 2px;
}

 .members-container {
  margin-left:25px;
  margin-top: 60px;

 }
  .message {
    width: 50%;
    margin: 78px 0px 0px 25px;
  }


.form-field {
      margin: 25px -10px;
      height: 35px;
      width: 91%;
      border: 1px solid gray;
      border-radius: 5px;
      background-color: #F8F8F8;
  }


.form-area {
    margin: -5px -12px;
    width: 91%;
    height: 100px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #F8F8F8;
}


.button-primary {
    display: block;
    margin: 25px -15px;
    width: 93%;
    height: 45px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #7477BF;
    color: #fff;
}

 #save{
   width:50%;
  margin: -3px -23em 0px 32em;
}

#cancel {
  width: 50%;
  margin: -3px -76em 0px 361px;
}

.comment-name {
    margin: 24px 248px 20px -15px;
}

.set {
    margin: 96px -127px;
}


.mess {
    margin: 50px -2px;
}

.set-email {
    margin: -17px -131px;
}


.switch {
    margin: -9px 267px 0px 69px;
}

.public-switch {
  margin: -34px -1px;
}

.set-public {
    margin: 17px -128px;
}

.form {
    margin: 54px -127px;
    width: 138%;
}

.email, .public, .form, .button {
    grid-column: 4 / span 1;
    margin-right: -219px;
}
 .setting-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-column-gap: 1rem;
   margin: -27.5rem 0px 25px;
 }

}



@media (min-width: 1024px) {
.name {
      color: #fff;
      font-size: 10pt;
          margin: -78px 0px 20px 70em;
  }

  .avatar {
      margin: -77px 0px 20px 55em;
      vertical-align: middle;
      width: 50px;
      height: 50px;
      border-radius: 50%;
  }

.vl {
      border-left: 1px solid;
      height: 50px;
      margin: -100px 0px 14px 54em;
  }




  .bell {
    margin: -45px 0px 65px 51em;
    width: 20px;
    fill: #fff;
 }

.main-header-search {
     margin: -45px 0px 0px 46em;
  }

.headline {
   margin: -5px 15px 25px -10px;
   }

.alert {
       font-size: 12px;
       color: #fff;
       background-color: #7477BF;
       border-radius: 2px;
       height: 30px;
       width: 75em;
       margin-left: 4px;
}

.alert-close {
    right: -73em;
    top: -23px;
    position: relative;
  }


.traffic-nav {
    display: flex;
    margin: -65px 8px 0px 60em;
    padding: 25px;
    font-size: 8.5pt;
 }

.google-container {
     border: 1px solid;
     margin: -100px 10px 0px 40em;
     width: 300px;
     height: 100px;
     background: #F8F8F8;
 }

 .media-item {
     margin: 0px 0px 40px 2px;
 }


.social-border {
   border-top: 1px solid;
 }

 .member-border {
     border-left: 1px solid;
     margin: -36.2em -56px -26em 31em;
 }

.member-line {
     margin: 30px 29em 25px -60px;
 }


 .B-border {
   display: none;
 }

 .date {
    margin: -22px 0px 0px 21em;
 }
.members-text{
  margin: -53px 0px 0px 58px;
 }

 img {
    margin: 25px 0px -69px -73px;
}


.set {
    margin: -5px -174px;
}
.set-email {
    margin: 80px -175px -12px;
}



.switch {
    margin: -9px -2px 0px 69px;
}

.public-switch {
  margin: -34px -1px;
}

.set-public {
    margin: 18px -175px;
}


.form {
    margin: 54px -175px;
    width: 150%;
}

.form-field {
    margin: 25px -16px;
    height: 35px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #F8F8F8;
}

.form-area {
    margin: -5px -16px;
    width: 100%;
    height: 100px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #F8F8F8;
}


.button-primary {
    display: block;
    margin: 25px -15px;
    width: 100%;
    height: 45px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #7477BF;
    color: #fff;
}

 .post {
      margin: -30em 0px 0px -10em;
      grid-column: 4;
  }

  #save {
      width: 69%;
      margin: 1px -23em 0px 40em;
  }

 #cancel {
       width: 88%;
       margin: 1px -76em 0px 465px;
   }


 .new-members {
  margin-left: 29px;
}
.recent {
    grid-column: 4 / span 1;
    margin: -33.9em 0px 0px -156px;
}

 .comment {
    margin: -10px -25px 17px -4em;
}

.comment-name {
    margin: 24px -48px 20px -11px;
}


.email, .public, .form, .button {
    grid-column: 4 / span 1;
    margin-right: 82px;
}

 .message {
     width: 50%;
     margin: 31px 0px 0px 25px;
  }

  .setting-container {
    margin: -21.5rem 0px 25px;
  }
}


@media (min-width: 1900px) {
  .name {
      color: #fff;
      font-size: 10pt;
      margin: -78px 0px 20px 128em;
  }

.avatar {
      margin: -77px 0px 20px 103em;
      vertical-align: middle;
      width: 50px;
      height: 50px;
      border-radius: 50%;
  }

.vl {
    border-left: 1px solid;
    height: 50px;
    margin: -100px 0px 14px 102em;
}

.bell {
         margin: -45px 0px 65px 99em;
         width: 20px;
         fill: #fff;
}

.B-border {
      display: none;
  }

  .main-header-search {
      margin: -50px 10px 29px 94em;
  }

.main-header{
    background: linear-gradient(to right, #fff 10%,  #fff 10%, #F8F8F8 10%);
    padding: 20px;
    height: 65px;
  }

  .alert {
      font-size: 12px;
      color: #fff;
      background-color: #7477BF;
      border-radius: 2px;
      height: 30px;
      margin-left: 10px;
      width: 95%;
  }

.notice {
    left: 5px;
    top: 5px;
    position: relative;
  }

  .alert-close {
      right: -142em;
      top: -23px;
      position: relative;
  }

.traffic-nav {
      display: flex;
      margin: -65px 8px 0px 134em;
      padding: 25px;
      font-size: 8.5pt;
  }

 .twitter-container {
     margin: 0px 0px 0px 10em;
 }

.facebook-container {
    margin: -6.3rem 0px 0px 40rem;
 }

 .google-container {
     border: 1px solid;
     margin: -100px 10px 0px 70em;
     width: 300px;
     height: 100px;
     background: #F8F8F8;
 }

 .member-border {
     border-left: 1px solid;
     margin: -36.0em -56px -26em 55em;
 }

 .member-line {
     margin: 30px 62em 24px -76px;
 }

 .date {
     margin: -22px 0px 0px 42em;
 }

 .post {
     margin: -30em 0px 0px -28em;
     grid-column: 4;
 }

 .recent {
     grid-column: 4 / span 1;
     margin: -33.2em 0px 0px -445px;
 }

.comment {
    margin: 0px 36px 26px -4em;
}

.set {
    margin: -5px -454px;
}

.set-email {
    margin: 80px -454px -12px;
}

.set-public {
    margin: 18px -451px;
}

.switch {
    margin: -9px -2px 0px -245px;
}

.form {
    margin: 54px -449px;
    width: 150%;
}

.setting-container {
    margin: -21.5rem 0px 25px;
 }

 .form-field {
     margin: 25px -16px;
     height: 35px;
     width: 87%;
     border: 1px solid gray;
     border-radius: 5px;
     background-color: #F8F8F8;
 }


 .form-area {
    margin: -5px -16px;
    width: 87%;
    height: 100px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #F8F8F8;
}

.button-primary {
    display: block;
    margin: 25px -15px;
    width: 87%;
    height: 45px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #7477BF;
    color: #fff;
}

#cancel {
    width: 80%;
    margin: 1px -76em 0px 772px;
}

 #save {
     width: 69%;
     margin: 1px -43em 0px 68em;
 }

.widget-container-full {
    width: 90vw;
    margin-left: 46px;
 }
}
